:root {
    --dark: #161616;
    --gray1: #404040;
    --gray2: #737372;
    --gray3: #BFBFBF;
    --light2: #F2F2F2;
    --light: #fefefe;
    --primary: #3876F2;
    --secondary: #263140;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-weight: 500;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}
::-webkit-scrollbar-track {
    background-color: var(--light2);
}
::-webkit-scrollbar-button {
    display: none;
}
body {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
}

h2, h3 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
@keyframes rotateIcon {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes socialIcon {
    
    0% {
        transform: translate(0, 36px) scale(.1);
    }
    90% {
        transform: translate(0, -4px) scale(.9);
    }
    100% {
        transform: translate(0,0) scale(1);
    }
}

.arrow__left {
    transform: rotate(180deg);
}
.main {
    width: 100%;
    .main__section {
        margin: 0 auto;
        padding-block: 80px;
        padding-inline: 16px;
        max-width: 1400px;
    }
}


.section__home {
    background-image: url(https://thumbs.dreamstime.com/b/foto-blanco-y-negro-de-la-mujer-hermosa-51980900.jpg);
    background-image: url(https://s3.amazonaws.com/images.hiresphoto.com/woman-portrait-in-black-and-white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    & div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 36px;
        text-transform: uppercase;
        text-align: center;
        color: var(--light);
    }
    & h1 {
        font-size: 5rem;
    }
    & a {
        width: auto;
        padding: 8px 16px;
        border: 1px solid var(--light);
        transition: all .3s;
        &:hover {
            background-color: var(--secondary);
        }
        &:active {
            background-color: var(--primary);
        }
    }
}
.section__about {
    border-bottom: 1px solid var(--dark);
    .section__about__text {
        margin: 0 auto;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        & h2 {
            padding-bottom: 24px;
            font-size: 2.4rem;
            font-weight: bold;
            border-bottom: 1px solid var(--dark);
            color: var(--secondary);
        }
        .section__about__buttton {
            padding: 24px 0px;
            margin-top: 48px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 24px;
            border: none;
            transition: all .3s;
            
            .arrow__left {
                grid-area: 1/1/2/2;
                margin-left: auto;
            }
            & a {
                grid-column: 2/3;
                font-size: 2rem;
                text-align: center;
                text-transform: uppercase;
                padding: 12px 24px;
                background-color: var(--dark);
                color: var(--light);
                transition: all .3s;
                &:hover {
                    background-color: var(--secondary);
                    ~ .section__about__figure svg {
                        fill: var(--secondary);
                    }
                }
                &:active {
                    background-color: var(--primary);
                    ~ .section__about__figure svg {
                        fill: var(--primary);
                    }
                }
            }
            .section__about__figure {
                width: 40px;
            }
        }
    }
}
.section__services {
    overflow: hidden;
    .services__box {
        position: relative;
        margin-top: 40px;
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px 0;
    }
    .services__item {
        position: relative;
        /* max-width: 360px; */
        padding: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
        background-color: var(--dark);
        color: var(--light);
        text-align: center;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        &:hover {
            background-color: var(--secondary);
            .service__icon {
                animation: rotateIcon 4s linear infinite;
            }
        }
        & h3 {
            font-size: 1.8rem;
            width: 80%;
        }
        .services__item__figures {
            display: flex;
            justify-content: center;
            gap: 12px;
        }
        .services__item__figure {
            width: auto;
        }
        & path {
            fill: var(--light2);
        }
        .services__item__link {
            font-size: 2rem;
            text-decoration: underline;
            color: var(--gray3);
            cursor: pointer;
            &:hover {
                color: var(--light2);
            }
            &:active {
                color: var(--primary);
            }
        }
    }
    .services__texts {
        margin: 0 auto;
        max-width: 800px;
        border-bottom: 2px solid var(--secondary);
        border-top: 2px solid var(--secondary);
        border-radius: 16px;

        .service__text__item {
            padding: 64px 8px 40px;
            margin: 0 auto;
            display: none;
            /* display: grid;
            grid-template-rows: 0fr; */
            transition: .3s all;
            max-width: 640px;
            & p {
                overflow: hidden;
            }
            & hr {
                margin-top: 16px;
            }
            & h5 {
                font-weight: bold;
                margin-bottom: 8px;
            }
            & h3 {
                font-size: 2.4rem;
                margin-bottom: 24px;
                color: var(--secondary);
            }
            &.active {
                margin-top: -24px;
                display: grid;
                grid-template-rows: 1fr;
                transition: .3s all;
            }
        }
    }
}
.footer {
    color: var(--light2);
    background-color: var(--secondary);
    .footer__content {
        padding: 40px 16px 24px;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    .footer__nav {
        width: 100%;
        & h2 {
            margin-bottom: 16px;
            text-align: start;
        }
    }
    .social__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        & path {
            fill: var(--light2);
        }
        .social__item {
            padding: 12px;
            border-radius: 8px;
            transition: all .3s;
            &:hover {
                border-radius: 50%;
                background-color: var(--light2);
                
                & svg {
                    animation: socialIcon .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                }
                & path {
                    fill: var(--secondary);
                }
            }
        }
    }
    .copy {
        padding: 12px;
        border-top: 1px solid var(--light2);
        text-align: center;
        & p {
            display: inline-block;
        }
    }
    & a:hover {
        color: var(--gray3);
    }
    & p, a {
        font-size: 1.4rem;
    }
    & h4 {
        font-weight: bold;
        margin: 8px 0 4px;
    }
}

@media screen and (width >= 600px) {
    .section__services {
        padding-inline: 0 !important;
        .services__box {
            margin-bottom: 224px;
        }
        .services__texts {
            padding-inline: 16px;
        }
    }
    .footer {
        .footer__nav {
            width: 50%;
            max-width: 400px;
        }
        .footer__content {
            flex-direction: row-reverse;
            justify-content: center;
            align-items: end;
        }
    }
}
@media screen and (width >= 1020px) {
    .section__home {
        background-image: url(https://s3.amazonaws.com/images.hiresphoto.com/woman-portrait-in-black-and-white.jpg);
        height: 100vh;
        background-position: center top;
        & div {
            margin-left: 80px;
        }
    }
    .section__services {
        padding-inline: 80px !important;
    }
}
@media screen and (width >= 1280px) {
    .section__services {
        overflow: visible;
        .services__box {
            margin-bottom: 48px;
        }
    }
}
